[2013-06-13 08:09] h4cc opened #7 "Uploading composer.lock and import all repositorys from it."
As a user of satify, i would like to upload a composer.lock file and all repos from there are added to satis.json.

How about that idea?
I would like to branch and try toimplement that feature.

[2013-06-23 13:46] h4cc opened #10 "Permission problem with satis.json"
My satis.json is in app/data/, so i just have one folder with write permissions for the webserver. The FilePersister renames the current satis.json to {TIMESTAMP}.json and creates a new satis.json.

This leads to the problem of missing permissions on satis.json, because it is a new file created by the webserver. Editing with the system user is not possible then.

My proposal is replacing this line

[2013-06-23 13:58] #7 closed, assigned to nobody

[2013-06-27 13:35] h4cc opened #13 "Composer.lock upload not importing require-dev dependencies."
Sorry, my bad :)
Will fix it as soon as possible.

[2013-08-24 15:09] #13 closed, assigned to nobody

[2013-11-03 14:27] ludofleury opened #19 "Github sso"
Add github auth

[2014-06-23 05:30] joska opened #25 "Unresolvable dependencies"
Current composer.json does not allow new installations.

Your requirements could not be resolved to an installable set of packages.
  Problem 1
    - Installation request for playbloom/satisfy 1.0.x-dev -> satisfiable by playbloom/satisfy[1.0.x-dev].
    - playbloom/satisfy 1.0.x-dev requires symfony/form ~2.3 -> no matching package found.
  Problem 2
    - Installation request for symfony/icu v1.

[2014-06-23 06:50] #25 closed, assigned to nobody

[2014-09-07 16:10] #10 closed, assigned to nobody

[2015-03-23 18:57] brunowego commented on #19
+1

[2015-03-23 20:05] ludofleury commented on #19
Well... 2 years. I didn't know someone was using this pet project.

[2015-03-23 20:16] brunowego commented on #19
This is a cool project.

[2015-03-23 22:01] ypereirareis opened #29 "Wrong dependency fp/lightopenid"
Hello.

fp/lightopenid is DEPRECATED and ABANDONNED.

[2015-03-24 00:50] ludofleury commented on #29
Ok, thank you. I will try to find this.

[2015-07-16 09:18] anroots commented on #29
Ran into this myself when trying to `composer install`. Please remedy.

[2015-09-06 15:20] joska commented on #29
It's advised to migrate to lightopenid/lightopenid. But beware, since July 2015 the Google OpenId 2.0 is officialy discontinued and you have to use Google Sign In.

Satisfy does not have support for this.

[2015-09-07 07:10] ludofleury commented on #29
Hello, I'm short on time right now, anyone for a PR ?

[2015-09-07 07:15] joska commented on #29
Same here :/ I did not have much expirience with Symphony either. I started a fork with gigablah/silex-oauth authorization library, since it should work even with GitHub, but I doubt I will be able to finish it in upcoming days/weeks.

[2015-09-07 07:37] anroots commented on #29
To people who want to use Satisfy without OpenID: a quickfix is to change the dependency name in `composer.json`: [see here](https://github.com/anroots/satisfy/commit/fb6b5dbc7bc37f0a214547402744b30ea75d565b). This will probably break the OpenID login, but not in ways you'd notice if you aren't using it.

My setup is in company LAN and is protected by LDAP Basic Auth provided by Apache.

[2015-09-08 18:45] ludofleury commented on #29
Hey guys, I made a really quick & dirty pull request there #30
I didn't tested it. let me know.

[2015-09-09 14:37] #29 closed

[2015-11-23 08:43] ypereirareis opened #39 "fopen r+ can lead to malformed json config file"
## Hi !

To persist the satis config file you use this function from `src/Playbloom/Satisfy/Model/FilePersister.php`:

[code]

But I think there is a problem with the used file mode `$handle = fopen($filename, 'r+');`  because it can leads to malformed json, because this mode **does not ** empty the file before writing.

### Actually, when i try to delete a repository from my `satis.json` file I g

[2015-11-23 08:48] ypereirareis commented on #39
Hi again !!

Or maybe a modification of the truncate function: `ftruncate($handle,0);`

Bye !

[2015-11-23 21:10] ludofleury commented on #39
I think it's related with #38 ?

[2015-11-24 08:16] ypereirareis commented on #39
Yes ! Indeed !

And i tried the PR #38 yesterday, it works like a charm ! :+1:

Thx

[2015-11-24 16:04] ramunasd commented on #39
fixed in #38

[2015-11-24 16:04] #39 closed

[2015-11-24 16:07] ramunasd opened #40 "Travis account"
Hi @ludofleury , would be nice if you could register at https://travis-ci.org/ and add this repository. Everyone could check build status :)

[2015-11-24 22:57] ludofleury commented on #40
Done, first build is on the way. Congrats

[2015-11-24 22:57] #40 closed

[2015-11-24 22:59] ludofleury commented on #40
Side note, I'll recommend you to always work on a branch and PR this branch to master, to keep an easy track of the semver tagging + change log

[2016-01-28 15:32] ramunasd opened #41 "Add support for mirrored packages"
One possible solution could be "checkbox" in repository list. Then we could add checked repositories to "require" and "require-dev".

[2016-01-28 15:41] ludofleury commented on #41
I'm not familiar with mirrored packages tho

[2016-01-29 09:20] ludofleury opened #43 "Switch to PSR-4"

[2016-01-29 09:20] ludofleury opened #44 "Provide docker image"

[2016-01-29 09:21] ludofleury opened #45 "Auto generate the package definition after any update"

[2016-01-29 09:30] ludofleury opened #46 "Improve test coverage"

[2016-01-29 16:24] #43 closed

[2016-02-02 13:17] ypereirareis opened #47 "Lib NOT WORKING at all !"
Hello !

I use your lib inside a Docker image https://github.com/ypereirareis/docker-satis

Acutally, a json schema validation has been added on composer/satis (dev-master) a few days ago [https://github.com/composer/satis/blob/9e8ef8e906f204d01ce468dcc123306919488ddc/src/Composer/Satis/Command/BuildCommand.php#L282](https://github.com/composer/satis/blob/9e8ef8e906f204d01ce468dcc123306919488ddc/s

[2016-02-02 13:25] ypereirareis commented on #44
Hi !!

Maybe it could match your needs : [https://github.com/ypereirareis/docker-satis](https://github.com/ypereirareis/docker-satis)

[2016-02-02 21:55] ludofleury commented on #44
Hey, very nice ! I have no time for the moment, but I will definitely look an try to see what we can do !

[2016-02-02 22:02] ludofleury commented on #47
It tooks me some minute to realize what we were talking about, so far after a quick check, I think it comes from the serialization process here https://github.com/ludofleury/satisfy/blob/master/src/Playbloom/Satisfy/Model/Configuration.php#L40

If @ramunasd or you @ypereirareis have a quick fix, I won't be able to update this repo before 2-3 weeks.

[2016-02-02 22:07] ludofleury opened #48 "Update model interface"
A lot of changes has been made to the implementation, we should ensure that the contract is up to date with the latest satis.

[2016-02-02 22:09] ludofleury opened #49 "What shall we do with the twig-template feature ?"
I wasn't following closely satis, but this feature s quite convenient.
This repo provide the CRUD, I don't really know if the users would like a customized "R" views.

I don't really see the needs actually.

[2016-02-03 10:59] #47 closed

[2016-02-03 11:00] ramunasd commented on #47
@ypereirareis Can you remove  line `require: {}` and test with latest dev version?

[2016-02-03 11:24] ypereirareis commented on #47
Hi @ramunasd !

It's **working** with the latest dev version !

Thx ! :+1:  :smile:

[2016-02-03 12:56] ramunasd commented on #47
you're welcome ;) i will create next minor version

[2016-02-03 12:58] ramunasd commented on #49
I think is very nice feature because teams can customize front page of repository. Well, satisfy also could have it's own nice looking template.

[2016-02-03 13:54] ludofleury commented on #47
:clap: :clap: thanks guys, amazing.

[2016-02-03 13:58] ludofleury commented on #49
Ok, there is 2 options if we want to leverage this:

1. We can actually re-use the twig-template only for the view, but for the management (Create/Update) provide our own HTML templates (and allow custom one if the teams want to have the same look between the read view and the management views)

2. We can actually even push it and provide "twig block" that teams will include in their template, thi

[2016-02-03 14:27] ramunasd commented on #49
I agree completely.

[2016-02-03 14:30] ramunasd commented on #41
Well, here is little misunderstanding. "Require" and "require-dev" isn't responsible for dist packages.

To enable dist packages its enough to set `directory` in `archive` property.

[2016-02-03 14:30] #41 closed

[2016-02-09 11:36] kevindierkx opened #53 "Display satis logs in admin panel"
Satis gives great feedback when the indexation of a repository fails, unfortunately the indexation of 'all' repositories fail when this happens.

Appending the output of the Satis build job to any kind of log file makes debugging these kind of errors allot easier, but it still requires you to SSH onto the server where Satis is running to look into the logs.
_I'm running a cron every minute to keep

[2016-02-09 11:37] kevindierkx commented on #45
Is this really required when you use something like a cron that runs the build every minute?

[2016-02-09 12:23] kevindierkx opened #54 "Application structure proposal"
I was running trough te code and noticed some mix matching of different concerns, like adding HTML inside a controller and mounting a route inside the bootstrapping code. #51 removed some of it for example.
# Proposal

Keeping maintainability in mind mix matching isn't a good practice, separating the code would make it easier to extend the application to add new features and/or maintain the applic

[2016-02-09 12:45] ramunasd commented on #54
It's a nice work, well done @kevindierkx :)

Despite of your work, i'd like to switch to symfony 3. Then we could get rid of this "bootstrap" stuff, helpers, global variables and etc...

[2016-02-09 12:47] ramunasd commented on #45
I have one script for auto rebuild when config is updated or some time passed after last update. I just need to convert it to console command.

[2016-02-09 12:58] kevindierkx commented on #45
Still what is the added benefit of some extra logic instead of just using the cron?
The end result would be the same and doesn't require the application to keep track of the last update and making the whole update process less complex.
Besides I don't wan't to access the web interface before I run a `composer update` to make sure I got the latest changes for my packages.

[2016-02-09 13:17] kevindierkx commented on #54
@ramunasd Thanks for the input! Switching to Symfony 3 would do almost the same as I just did with my proof of concept.
However it doesn't get rid of the 'bootstrap stuff' it just places it in a different place like the [app.php](https://github.com/symfony/symfony-demo/blob/master/web/app.php) in this demo app.

Besides it not being necessary the helpers file would still come in handy when accessi

[2016-02-09 14:06] ramunasd commented on #54
Well, yes, it makes sense at some points. From what i see this application is growing to something more than just "adding some entries to a JSON file". It's very clear that we need add "must have" features like
* github/bitbucket hooks
* control of all satis options
* automatic tasks with background workers

We can make all these features and even more with silex. The questions is how fast we can

[2016-02-09 14:18] ramunasd commented on #54
https://github.com/terramar-labs/packages is alternative to satisfy, you can get impression on what is important to have such applications

[2016-02-09 15:05] kevindierkx commented on #54
I agree the application could benefit from a full stack framework. I wouldn't mind using a full stack framework in the near future.

For now the directory structure needs changing anyway if you use Symfony or Laravel they both have a bootstrapping process, the proof of concept mentioned in the issue resembles the booting process of both frameworks. (Minor naming convention stuff left aside)

I wou

[2016-02-09 19:32] ludofleury commented on #54
Hey guys,

Satisfy started really humble, to fill a quick gap. I didn't check the
alternative. But what we could start with is a roadmap of features. Let's
put in a specific issue everything and discuss it then organize a milestone
around it.

The tech choice will follows quickly and match the needs.

On Tue, 9 Feb 2016 at 16:05, Kevin Dierkx <notifications@github.com> wrote:

[2016-02-09 22:51] kevindierkx commented on #54
@ramunasd, @ludofleury Alright I've finished the application structure refactor as you can see in #56. If you guys could take a look and let me know what you think that would be greatly appreciated.

[2016-02-09 23:00] kevindierkx opened #57 "Upgrade to bootstrap 3.x.x"
Before we add lot's of additional views it wouldn't be a bad idea to update the provided bootstrap and flat UI stylesheets.

Bootstrap 3 has some nice new features and with Bootstrap 4 waiting around the corner it makes the future upgrade path allot easier.

[2016-02-10 09:04] ramunasd commented on #54
For me it does not makes sense to move models and forms to another namespace. `Form` became `Forms` and `Model` to `Models` - is there any serious reason to change this?

Also i'd like to keep sources in `src` like it was before. I think it is convenient way in php community.

Regarding `satis.json`. Well, if You want to move it to another place, then this should be documented. Also this creates i

[2016-02-10 10:29] kevindierkx commented on #54
The namespace changes are mainly convention (in our company anyway), the folders/namespace contains multiple models therefore I've used the plural form of model/form. This is common practice in most Laravel applications, however I don't mind changing it back to its respective noun.

Regarding the src folder I agree it's widely used in PHP 'component' however in an application it doesn't make any s

[2016-02-10 13:50] ramunasd commented on #45
@kevindierkx everything is simple - if You don't see any benefit then just don't use it :)

[2016-02-10 22:00] #45 closed

[2016-02-16 08:32] ludofleury commented on #57
:+1:

[2016-03-16 13:55] ramunasd opened #59 "Stale packages remains when repository is added to same users composer config"
When instance of satisfy is added to composer config, satis gets packages(branches) from previously generated definitions. Even if branch is removed from vcs repository, satis keeps them and shows as available version.

This issue creates stale packages in composer repository and leads to problems when someone tries to install missing branch.

[2016-03-17 16:32] ludofleury commented on #59
Sorry, i didnt get you at all
On Wed, 16 Mar 2016 at 14:55, Ramūnas Dronga <notifications@github.com>
wrote:

[2016-03-22 16:22] ramunasd commented on #59
@ludofleury don't worry, i also didn't got from first try :)

Imagine situation when certain user has satis repository and runs `satis build` periodically. Let's say web url of repository is myrepo.example.com. What happens if this user in it's `~/.composer/config.json` has something like this:
[code]

In this case every time user does `satis build`, satis takes all repositories (excluding packagi

[2016-03-22 18:50] ludofleury commented on #59
oh wow. It's on satis I think. Did you open a report there ?

[2016-05-06 18:27] phackwer opened #60 "Error importing composer.lock"
While trying to import a composer.lock,

Fatal error: Call to a member function set() on null in /var/www/html/satisfy/src/Playbloom/Satisfy/Model/Manager.php on line 139

This could be easily avoided or better threated if you checked if

[code]

Returned something.

[2016-05-06 18:30] phackwer commented on #60
There seem s to be a lot of  misthreated calls to methods on your code. I will fork it

[2016-11-01 10:52] Bravehartk2 opened #63 "Fatal error on running satis"
When I try to run satis from commandline I got this error:
[code]
The file rally does not exist.
Here is my composer.lock for the satisfy setup:
[code]

[2016-11-01 16:15] Bravehartk2 commented on #63
I solved this problem, by calling satis build command like that:
`/opt/plesk/php/5.6/bin/php /var/www/vhosts/satis.domain.de/httpdocs/satis/satisfy/vendor/bin/satis build /var/www/vhosts/satis.domain.de/httpdocs/satis/satisfy/satis.json /var/www/vhosts/satis.domain.de/httpdocs/satis/satisfy/web/`

[2016-11-02 16:41] ramunasd commented on #63
Hi @Bravehartk2, if You have composer.lock it doesn't mean You have all dependencies already installed. Try to run `composer install` after clone/pull.

[2016-11-02 16:41] #63 closed

[2016-11-02 17:06] Bravehartk2 commented on #63
That was the first thing I did. That generated the lock file indeed.
I once again removed the .lock file and run
`composer install` and `composer install -o`

[2016-11-02 18:45] ramunasd commented on #63
well, there is no need to remove lock file, more at https://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file

i can suggest to remove whole vendor folder, restore lock file and run clean `composer install`

[2017-06-07 08:18] ramunasd commented on #44
Already dockerized!

[2017-06-07 08:18] #44 closed

[2018-01-09 09:02] GBeushausen opened #69 "Why repository pattern?"
Why is there a repository pattern and why does it only work with GitHub? This makes the app pretty much useless for people who don't use GitHub.

[2018-01-09 18:49] ramunasd commented on #69
@GBeushausen that's because a lot of 3rd party libraries are hosted on github, and don't forget - it's just example :)

[2018-01-10 08:48] GBeushausen commented on #69
@ramunasd Yeah. Anyway thanks for the great work.

[2018-01-10 10:19] #69 closed

[2018-02-06 23:34] #54 closed

[2018-02-14 10:55] ramunasd commented on #60
Will be fixed completely with upcoming version 3.0

[2018-02-14 10:55] #60 closed

[2018-03-01 06:30] mysiar opened #70 "Run satis on repository add or with button on admin panel"
It would be great if Satisy could run satis on repository list update or kicked by button.
What do you think ?

[2018-03-01 08:15] ramunasd commented on #70
Hi, @mysiar nice idea, will add it for 3.0 release.

[2018-03-02 04:33] mysiar commented on #70
Hi @ramunasd do you have any predicted time for releasing **3.0** ?

[2018-03-02 08:50] ramunasd commented on #70
No, there is planned time for 3.0. Looks like latest RC is stable and only a few minor things left, except this improvement.
I would appreciate any help ;)

[2018-03-07 20:54] #48 closed

[2018-03-07 20:54] #57 closed

[2018-03-08 15:44] ludofleury commented on #69
Hey, repository pattern on the original implementation was one
architectural way of accessing/manipulating an OO designed “package”. They
are many ways to design this. Is it a so weird/bad choice for the concern?

On Wed 10 Jan 2018 at 11:19, Ramūnas Dronga <notifications@github.com>
wrote:

[2018-03-09 07:26] ramunasd commented on #69
Hi @ludofleury , sorry, I don't get what means "OO designed package" and how it is related to repository pattern?

[2018-03-15 10:51] alessandro-c commented on #19
Is there any update on this guys?

[2018-03-15 19:31] ramunasd commented on #19
Hi @alessandro-c , it was planned for 3.0 release. But... looks like there is no good usable library and easy way how control user list. So, it's still on backlog.

[2018-03-21 06:55] tmloberon opened #71 "Bug Configuration include-filename is empty"
If the config "include-filename" empty in satis.json then we can not build a composer repository.

In PackagesBuilder.php line 218:

  [ErrorException]
  file_put_contents(/satisfy/web//): failed to open stream: Is a directory

[2018-04-01 14:15] #46 closed

[2018-04-01 14:16] #71 closed

[2018-04-08 14:08] #70 closed

[2018-06-16 08:48] bbalet opened #74 "Please use the latest stable version of satis"
Hi,

Could you please swicth to the latest stable version of satis which is compatible with PHP7.2. As of today, the generation throw this error:

    [Twig_Error_Runtime]
    An exception has been thrown during the rendering of a template ("count():
    Parameter must be an array or an object that implements Countable") in "pac
    kage.html.twig" at line 91.

    [ErrorException]
    count(): Pa

[2018-06-17 18:02] ramunasd commented on #74
That's weird, because generation is tested against all latest PHP versions. Do You know how to reproduce this exception?
Anyways, after merge with branch 3.x, latest version of satis is installed. Please reopen if issue still remains.

[2018-06-17 18:02] #74 closed

[2018-06-22 10:03] cumuru commented on #45
@ramunasd Can you provide any code on how you use the console command? How is it triggered?

[2018-06-22 20:12] ramunasd commented on #45
@cumuru Sure, what You need is just one command, inside of project dir run this:
[code]

Good luck!

[2018-06-27 21:08] cumuru commented on #45
@ramunasd Thanks for your answer. I expected there were a way to trigger a rebuild on configuration change. But the console command you mentioned needs to be fired by a cron again, am I getting it right?
What I‘m trying to achieve is to receive a webhook payload from my repository (gitbucket in my case) on push events and update satis (with `--repository-url https://only.my/repo.git`) once a new r

[2018-06-28 06:35] ramunasd commented on #45
@cumuru Can You create a new thread for whole webhook/event/trigger issue. We will add it to next milestone ;)

[2018-06-28 13:10] cumuru commented on #45
Yep, will do so :-)

[2018-06-28 16:00] cumuru opened #75 "Add webhook/trigger events"
To reduce server load and increase responsiveness I suggest to add two things:
1) a webhook endpoint for triggering satis updates on single repositories (e.g. for Github)
2) an event triggered by satisfy that updates packages.json once a new repository is added (or removed or updated)

In depth:
1)
* Would be nice to support Github API (https://developer.github.com/webhooks/) and others?
* Should

[2018-06-28 16:17] cumuru commented on #75
Some input for implementation:
* satis consumes (on CLI) a param `--repository-url=ssh://git@git.example.com/pathto/repo.git` to update a single repo only
* working Regex to normalize SSH repo uri (Github):
```preg_replace('/^(\w+@)?([\w\.]+)(:\d+)?:(.*)$/', 'ssh://$1$2$3/$4')```
($1 = user, $2 = host, $3 = port, $4 = repository path)
* composer package dealing with Github API (signature validatio

[2018-08-04 12:57] mvorisek commented on #74
Toda I just newly installed satis with command:

    composer create-project composer/satis:dev-master --keep-vcs

following configuration
[code]

and run it by:

    php satis/bin/satis build -- satis.json ./data

I confirm the issue, here is the output:
[code]

[2018-08-04 13:40] mvorisek commented on #74
The issue was it this line:
https://github.com/composer/satis/blob/master/views/package.html.twig#L104
the master is fixed now.

[2018-08-04 18:54] ramunasd commented on #74
Hi @mvorisek , latest version 3.0.1 depends on latest composer/satis as well symfony & twig packages.
Please `git pull && composer install` and try again

[2018-08-06 07:59] ramunasd commented on #75
Bitbucket webhook example:
https://github.com/mtomala/satisfy/commit/a10c1dfa2a7022d1cbc8b74dea28eca789d3b830

A lot of duplicated code, but principe on itself is clear.

[2018-08-29 13:28] cizel opened #78 "The "satisfy.manager" service or alias has been removed"
*Error*

[code]

*Stack Trace*

[code]

how to sovled this problem?

[2018-08-29 13:55] cizel commented on #78
Maybe »Satis« was not started before or did not build a valid package.json file yet.

[2018-08-29 17:37] ramunasd commented on #78
Looks like You upgraded to Symfony 4 which is not supported atm. Can You show output of Yours `composer show` ?

[2018-08-29 20:47] #59 closed

[2018-08-30 02:07] cizel commented on #78
@ramunasd  I think you are right. I remove old project, then use composer reinstall satisfy is run great.

[2018-08-30 02:07] #78 closed

[2018-09-02 06:55] ramunasd commented on #75
Currently `satis build` with repository filter throws exception.
https://github.com/composer/satis/issues/493

[2018-10-20 21:13] webmake opened #79 "Missing require option"
Hello,
I checked this project and it is really what we need, but there are some limitations. Now freshly configured satis looks like:
[code]
But according satis documentation, [there is `require` option](https://getcomposer.org/doc/articles/handling-private-packages-with-satis.md#setup) to have constraints, so I'm missing this feature to fully replace manual procedure by editing `satis.json` file.

[2018-10-21 17:29] ramunasd commented on #79
Hi @webmake , good point, UI form is missing, however this option is not ignored and can be set manully.

[2018-11-16 03:19] ProxiBlue opened #80 "NOTICE: PHP message: PHP Fatal error: Uncaught exception 'Symfony\Component\Debug\Exception\FatalErrorException' with message 'Parse Error: syntax error, unexpected ':', expecting ';' or '{'' in /satisfy/src/Playbloom/Satisfy/Service/Manager.php:195""
Seems like there are some errand code after the function is defined.

https://github.com/ludofleury/satisfy/blob/master/src/Playbloom/Satisfy/Service/Manager.php#L195

[2018-11-16 05:16] ProxiBlue commented on #80
My bad, this is a PHP7 thing, and I was running 5.6

No problem here, move along please.....

[2018-11-16 05:16] #80 closed

[2018-11-16 07:49] ramunasd commented on #80
Yes, looks like. And keep in mind we will set higher minimum required php version in next release.

[2018-12-03 21:41] #79 closed

[2018-12-03 21:43] ramunasd commented on #75
Implemented & tested against real VCS.

[2018-12-03 21:43] #75 closed

[2018-12-16 00:53] mrcnpdlk opened #81 "Gitlab webhook support"
Hi,
Do You have any plan to support gitlab webhook?

[2018-12-16 16:19] ramunasd commented on #81
Hi @mrcnpdlk ,
thanks for reaching out. IMHO gitlab webhooks should be supported and is very easy to implement it. Feel free to submit PR.

[2018-12-16 18:43] mrcnpdlk commented on #81
Could you tell me how to force satis `rebuild` after `push` event?

[2018-12-16 18:52] ramunasd commented on #81
It is enough to dispatch BuildEvent::EVENT_NAME and SatisBuildRunner will run process.
Non zero status code means something went wrong on satis side. Please check whether satis works from command line.

[2018-12-16 21:04] mrcnpdlk commented on #81
OK. I found.
`./web` dir doesn't have `write` flag for user/group `www-data`
After chowning and chmoding everything works great.
Thanks for help.

[2018-12-17 07:15] ramunasd commented on #81
So this file permission appears quite often. Would be nice to have a checker/validator for that.

[2018-12-19 09:06] #81 closed

[2019-01-22 04:15] 4n70w4 opened #84 "Need full instruction to use your docker-compose build"
Hi! Tell me all the commands need to execute to make it work!
Access rights and everything else...

`docker-compose up -d`

and next?)

[2019-01-22 09:37] ramunasd commented on #84
Hi @4n70w4 , thanks for question.
Default docker-composer.yaml would open 80 port on localhost, so You can type `http://localhost/admin` in Your browser and it will open administration area. Add some packages, wait a little bit and that's it - `http://localhost` should open generated index page.

[2019-01-22 09:37] #84 closed

[2019-01-23 02:34] 4n70w4 commented on #84
@ramunasd why did you close? I did not confirm the solution to the problem.
So does not work! There are a lot of problems with access rights and other things.
It takes a lot of extra steps to start working without errors.

It would be cool to create detailed step-by-step instructions on how to launch.

[2019-01-23 11:10] ramunasd commented on #84
@4n70w4 please feel free to create PR with all required steps and instructions, this is community driven project and any contribution is welcome

[2019-01-24 22:35] tburschka opened #85 "Do you need help?"
Currently (since today) i build & setup a satisfy instance for docker/k8s. There are other GUIs for Satis but it seems that satisfy is the best maintained version.
BUT there are some (a lot?) disadvantages in the current state, e.g.:

* JMS generates invalid satis.json (schema validator warns that config is an object, not an array) and force escaping urls (http:\/\/... )
* The main structure has s

[2019-02-11 11:58] VBelozyorov opened #88 "Need some help with using webhooks"
I'm trying to use gitlab push webhook.
I've found #82, but failed to make it working for now.

I've specified `<my satisfy host>/webhook/gitlab` as webhook url in gitlab repo's settings.
But my Satisfy instance answers 404 to Gitlab, looks I'm wrong with url? Which it should be?

I've installed Satisfy according to [this instruction](https://github.com/ludofleury/satisfy#installation). Does it ins

[2019-02-12 06:42] jinnoflife commented on #88
If you pulled the 3.1 release there is actually no gitlab-webhook.
You can try to use the current master-branch for this or wait for the next release.

[2019-02-12 08:37] VBelozyorov commented on #88
Ok, I've pulled `master` branch from this repo and executed `composer install -o`.
Now response to webhook from Satisfy looks fine to me:
[code]
But "Last updated" time counter on top right corner of Satisfy page hasn't reset after webhook invoked.

I did it using test push hook in gitlab interface. Is some additional configuration needed for satis rebuild?

[2019-02-12 09:01] VBelozyorov commented on #88
Well. Seems fixed now. Here quick checklist:

- [ ] Make sure you have Satisfy with GitLab webhook support. For example, try to open <your Satisfy host>/webhook/gitlab in your browser, there shouldn't be 404, (400 is Ok for browser test)
- [ ] Try to execute `bin/satis build` (without arguments) in console at Satisfy root folder. If it requires to `output-dir`, you need to specify it in satis.json

[2019-02-12 09:01] #88 closed

[2019-02-12 18:18] ramunasd commented on #88
So main problems was unreleased feature and file permissions? @VBelozyorov

[2019-02-12 19:53] VBelozyorov commented on #88
Yes. And missing logs from build attempts. I've used satis.json from my previous satis installation, so there wasn't specified `output-dir` and `bin/satis build` hasn't worked without arguments.

[2019-02-12 20:25] ramunasd opened #90 "Check /var /web satis.json must be writeable"
webhooks and interactive builds might fail due to wrong file permissions

[2019-02-12 20:27] ramunasd commented on #88
#89 will fix failing build due to missing output-dir
#90 file permission checks
#53 logs

[2019-02-13 15:51] cuijianguo opened #91 "PlaybloomSatisfyBundle::_form.html.twig"
( ! ) Twig_Error_Loader: Unable to find template "PlaybloomSatisfyBundle::_form.html.twig" (looked into: /data/satis/satisfy/app/Resources/views, /data/satis/satisfy/vendor/symfony/twig-bridge/Resources/views/Form). in /data/satis/satisfy/vendor/twig/twig/lib/Twig/Loader/Filesystem.php on line 234
--

[2019-02-13 16:39] ramunasd commented on #91
Hi @cuijianguo , thanks for reporting. Please post your installed packages from `composer show`.

[2019-02-14 01:57] cuijianguo commented on #91
The composer show has many packages, which one should be installed

[2019-02-14 07:10] ramunasd commented on #91
Yes, that's right, many packages must present. Please paste here full list.

[2019-02-14 07:17] cuijianguo commented on #91
composer/ca-bundle                   1.1.3              Lets you find a path to the system CA bundle, and includes a fallback to the Mozilla CA bundle.
composer/composer                    1.7.3              Composer helps you declare, manage and install dependencies of PHP projects, ensuring you have the right stack everywhere.
composer/satis                       dev-master 3acf692 Simple Reposi

[2019-02-14 12:39] ramunasd commented on #91
Seem fine to me, a little bit outdated but ok.
Can You clear the cache and reproduce that issue?
If yse, then please post steps to reproduce.

[2019-02-15 13:00] philipp-heyse opened #92 "Please add extenions needed to composer.json for transparency"
If you don't have the xml extension installed, satisfy installs just fine and even the overview page is working just fine. things break once you go to the config management page.

Its not a critical bug or anything, but it would be nice to document this dependency.
https://getcomposer.org/doc/01-basic-usage.md#platform-packages

Usecase:
Tried building our own docker image and wanted to keep it as

[2019-02-15 20:39] ramunasd commented on #92
HI, thanks for reporting. I will check why xml extension is required there.

[2019-02-16 08:56] #92 closed

[2019-02-18 07:26] ramunasd commented on #53
Might be helpful...
https://github.com/EasyCorp/easy-log-handler

[2019-02-27 19:10] langillerr opened #93 "Access Bypass"
When admin.auth is enabled unauthenticated users can still go directly to /admin/configuration and alter values with no login prompt.

Tested on fresh install with the following parameters.yml file.

[code]

This seems to be isolated to the configuration page and does not seem to work with adding repositories, editing repositories, building, or submitting via composer lock.

[2019-03-02 09:02] #93 closed

[2019-03-02 09:04] ramunasd commented on #91
cannot reproduce and no feedback in last 2 weeks

[2019-03-02 09:04] #91 closed

[2019-03-11 14:10] johnathansantos opened #94 "Service container is not injecting argument "$secret""
The service container is not injecting the `$secret` parameter into the class.

[code]
[code]

https://symfony.com/doc/current/service_container.html#service-parameters
But according to the documentation the arguments should be configured like this:

[code]
[code]
[code]

[2019-03-11 21:12] ramunasd commented on #94
fixed in ee47993dea504454272b63b662398c3844cef562

[2019-03-11 21:12] #94 closed

[2019-03-15 11:02] N1ghteyes opened #95 "Composer.json doesn't force symfony 3"
As it appears that Satisfy doesn't yet support symfony 4, can i suggest that the composer json is amended to prevent symfony 4 being installed by default when composer install is run?

Currently i can't use the UI as my repo server has installed symfony 4 and its erroring out. I have been unable to roll back to symfony 3 (cleanly at least)

Any suggestions for a work around in the mean time?

[2019-03-15 21:20] ramunasd commented on #95
Hi @N1ghteyes , thanks for reporting. For now You can use composer.lock file from latest master branch and then just run `composer install`. Everything should be ok.

[2019-03-15 21:20] #95 closed

[2019-03-28 15:46] oskarcalvo opened #96 "How to configure the login"
Hello, I'm trying to follow the documentation to add an administration password to Satisfy, but I get this error:

[code]

this is the configuration

[code]

[2019-03-28 15:49] #96 closed

[2019-03-28 20:22] ramunasd commented on #96
Hi @oskarcalvo , please take a look at https://github.com/ludofleury/satisfy/blob/master/app/config/config_testsecure.yml
You can find correct yaml file structure there.

[2019-03-29 17:10] oskarcalvo commented on #96
Thanks.

[2019-04-29 08:06] oskarcalvo opened #97 "Add security options to the form: satis/admin/new"
When we add a new repository we only can add the type and the url.
It will be great to add also de option to choose the type of [security](https://getcomposer.org/doc/articles/handling-private-packages-with-satis.md#security), and add the  path to ssh files/pem or the token.

[2019-04-29 09:06] thorro opened #98 "Webhook timeout"
It looks like satisfy/webhook tries to synchonously process the request, and GitHub's timeout is quite low, so GH often fails (red triangle), while request is still running on server.

I propose the hook call should be processed asynchronously and 200 returned immediately to GitHub.

[2019-04-29 20:30] ramunasd commented on #98
Hi @thorro, thats true, webhook can take a long time to finish the job. It would be nice to have some sort of task manager, but thats additional dependency and complexity. Also, You would not notice any errors from github side, if they occur for some reason.
I will try to send webhook response after validation and before actual processing.

[2019-04-29 20:34] ramunasd commented on #97
Hi @oskarcalvo , this is community driven project and we would be happy to review PR.

[2019-04-30 15:32] oskarcalvo commented on #97
I'll try it, give me a few days to finish the main project where I'm working in this moment.

[2019-05-03 20:34] ramunasd commented on #98
Hi @thorro , can You test latest master branch. Now github webhooks returns response before actual build and it must take less than second to validate request.

[2019-05-15 16:13] sacesare opened #99 "[gitlabhook] Wrong --repository-url for satis/build"
There's a problem with
[--repository-url="%s"](https://github.com/ludofleury/satisfy/blob/9da4b36a4ade8c2444d281b9fc875fd475396cc7/src/Playbloom/Satisfy/Runner/SatisBuildRunner.php#L98)

since it result shell execution error:
[code]
command line is:
'/var/www/satisfy/bin/satis' 'build' '/var/www/satisfy/satis.json' 'web' '--skip-errors' '--no-ansi' '--verbose' '--repository-url="http://gitlab.my.r

[2019-05-24 07:38] ramunasd opened #100 "PHP 7.2 and Symfony 4.x"

[2019-05-25 14:55] #99 closed

[2019-05-25 18:26] ramunasd commented on #99
@sacesare please if everything works fine now

[2019-05-26 20:31] ramunasd commented on #98
3 weeks wo response, closing this as fixed.

[2019-05-26 20:31] #98 closed

[2019-06-04 11:21] 4n70w4 opened #101 "Bug: This value is not valid."
I can't save the configuration, but I haven't even changed this value!

![image](https://user-images.githubusercontent.com/38257723/58875207-95259380-86d3-11e9-9c63-00cce21de390.png)

`git log`

[code]

[2019-06-04 20:07] ramunasd commented on #101
Repository name is required field nad without it json validation fails.

[2019-06-04 20:07] #101 closed

[2019-06-06 14:21] 4n70w4 commented on #101
@ramunasd why issue closed? The problem is not solved.
Repository name is filled. Where did you see that it is not filled?

[2019-06-12 12:08] thorro commented on #98
Sorry for no reply, got around to testing it just now. It looks better now, no timeout. Thanks.

[2019-06-21 12:25] 4n70w4 commented on #101
@rabauss your product contains a critical bug that does not allow editing settings.
Explain to me why issue is closed, but nothing is fixed?

[2019-06-21 12:32] 4n70w4 commented on #101
Post form.
[code]

Error: `This value is not valid.`
But `name` attribute is not empty!

[2019-06-22 07:56] ramunasd commented on #101
This field has regexp constraint, to make satis.json compatible with upcomming changes in composer itself. Basically You could enter any string, but then satis would throw some unwanted deprecation warnings like this:
`Deprecation warning: Your package name Composer repository is invalid, it should have a vendor name, a forward slash, and a package name. The vendor and package name can be words se

[2019-06-24 16:02] ypereirareis opened #102 "No webhook route for gitlab"
Hi and thanks for this project !!

Impossible to call the URL /webhook/gitlab because always returning a 404 not found.

[code]

[2019-06-25 05:52] ramunasd commented on #102
Hi, that is strage @ypereirareis . Please make sure You are using latest `master` branch and no source files was changed. Also, can You report PHP version?

[2019-06-25 07:08] ypereirareis commented on #102
Hello! Ok you are right, the route is there on dev-master branch when installing with :

`composer create-project playbloom/satisfy:dev-master`.

But didn't try the hook so far. I'll keep you posted when I can test it.
Is there a 3.2 release planned ?

Thx

[2019-06-25 09:48] ypereirareis commented on #102
So it's working for dev-master BUT the request body sent by gitlab is now no more compatible with the code https://docs.gitlab.com/12.0/ee/user/project/integrations/webhooks.html

I'll work on a PR if I have time.

THX

[2019-06-25 09:52] ramunasd commented on #102
Thanks, we could release this fix in 3.2 version.

[2019-06-25 15:51] ypereirareis commented on #102
Hi!
Here is the PR #103
Please tell me when a new version is released ! THX

[2019-06-25 17:19] ramunasd commented on #102
Cool, nice work. Thank You.

[2019-06-25 17:19] #102 closed

[2019-06-27 07:20] ypereirareis opened #104 "[FEATURE] - Webhook flag/configuration to automatically add a repo when webhooks are called"
Hi,

I recently configured a gitlab webhook to automatically start satis builds for my repositories.
But I had to manually add them all once in satis configuration file or with the satisfy GUI.

Could be good to have a flag/param to allow auto add of repositories when webhooks are called.

I can contribute to this if you think it's a good idea.

**[PROPOSAL]**

[code]

[code]

[code]

[2019-06-27 11:56] ramunasd commented on #104
Hi, very nice idea. I like it.
Do we really need to add all those parametes? I mean, repo type and source can be retrieved from webhook request?

[2019-07-03 09:36] ypereirareis commented on #104
Hi,

Actually, I don't really know how to extract information (type, source) from webhook call.
I only worked with git and svn in my life, and only with gitlab wekhooks.

Do you have more info about that ? Do I need to use the repo extension (.git) in `git@domain.tld:my/repository.git` ?  What about source field ?

Thx

[2019-07-03 15:28] ramunasd commented on #104
Just check github or gitlab example or fixture of how request body looks and take publicly(preferable) accessible url, something like `https://github.com/php-fig/log.git`.
How about vendor whitelisting?

[2019-07-05 12:44] rabauss opened #105 "Webhook open_basedir restriction /dev/null"
The undocumented feature of webhooks for gitlab is quite nice.
Allthough we had some trouble with open_basedir restriction:
[code]
In a nutshell, I could not figure out where the output is redirected to ``dev/null``. Maybe someone can help and optimize that, so the ``php.ini`` does not have to be updated.

The exception above is thrown in `AbstractWebhook -> getResponse`. Unfortunately the excepti

[2019-07-05 14:07] ramunasd commented on #105
@rabauss are You sure there is no `/dev/null` in Your satis configurations?

[2019-07-08 13:10] rabauss commented on #105
I could not find any setting to ``dev/null``

[2019-07-09 14:58] #105 closed

[2019-07-09 15:01] ramunasd commented on #105
I see, UnixPipes tries to open blackhole file as command output, when it is disabled.
https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Process/Pipes/UnixPipes.php#L49
@rabauss please check latest master, should be fixed.

[2019-07-22 07:27] rabauss commented on #105
Thanks, for the fix!
For our scenario with our own gitlab it's working.

[2019-08-02 06:46] psobeich commented on #104
I'd really love to see this feature. I created a pull request that make GitLab webhooks create repositories automatically. This is a first iteration for this feature and needs to be adapted for the other webhook implementations.

[2019-09-23 12:39] ollycross opened #107 "Allow type: package in satis.json"
Attempting to add a package with 'type' package (for direct downloads of private Wordpress plugins, for example) throws the following error:

`Return value of Playbloom\Satisfy\Model\Repository::getUrl() must be of the type string, null returned`

This is due to `Repository` looking for a top level `url` property.  Packages of type `package` do not have this, as the url is within a child property.

[2019-09-23 23:42] mlambley opened #108 "Build command doesn't seem to use parameters yml"
Good day,

My `parameters.yml` looks like the following:
[code]

Whenever I run `bin/satis build` I get:
[code]

It works when I run `bin/satis build app/config/satis.json`. Given that the `Build Packages` link runs this command, should I just modify the `SatisBuildRunner` file myself, or should the command default to the parameters as specified in `parameters.yml`.

Thank you.

[2019-09-24 13:47] ramunasd commented on #108
satis on itself isn;t symfony application and do not use configuration file from satisfy. All good here. You must either provide config file path manually or use command `satisfy:rebuild`

[2019-09-24 13:55] ollycross commented on #107
@ramunasd sorry I was not clear - I know silencing the exception is wrong!  I was wondering if there was a better way to approach the inclusion of direct downloads at the Satis level.

As you say the `Repository` class would need to be altered to allow `type: package`.  If I can I will look into it and make a pull request.

Thank you for your time.

[2019-09-26 06:19] ramunasd commented on #107
@ollycross this is community based project and any contribution is welcome. You can suggest and/or prepare changes to make it work like You want. But keep in mind that this is not first time when somebody ask for this feature. And there was attempts like #83 , still not completed and very opinionated.

[2019-10-28 13:54] shochdoerfer opened #110 "ramunasd/symfony-container-mocks is not a dev dependency"
I tried to install the satisfy dependencies with `composer install --no-dev`.

When accessing Satisfy afterward, I get an error stating that a trait from the package `ramunasd/symfony-container-mocks` can't be found since the MicroKernel uses that trait. The solution would be to convert ramunasd/symfony-container-mocks to a regular dependency. Can provice a PR if that makes sense for you.

[2019-10-29 07:13] ramunasd commented on #110
Absolutely! This is a community based project so please feel free to submit any improvements ;)

[2019-10-29 07:13] #110 closed

[2019-11-05 21:40] #90 closed

[2019-11-20 13:59] oh4real opened #115 "Make Satisfy `composer install --no-dev` for production release"
In order to build a clean artifact image for production deployment, I built an image with `composer install --no-dev`. Sadly, the image failed to work, because of the test-related TestKernelTrait declared in the MicroKernel.

I tried a quick pass (see https://github.com/ludofleury/satisfy/pull/113), but it failed the build tests - for now obvious reasons.

I might continue to work on bypassing thi

[2019-11-20 21:05] ramunasd commented on #115
What causes Your concerns? Package size? Well, dev dependencies consumes only extra 20Mb. Hardly it's a problem for modern servers, thus they have no impact on runtime.

[2019-11-20 21:05] #115 closed

[2019-11-20 21:06] #104 closed

[2019-11-21 14:49] oh4real commented on #115
Standard best practice is to deploy only required packages.  The "require-dev" is for "dev" purposes only: test, compilation (e.g.javascript/css), static analysis and build.

For example: https://laravel.com/docs/6.x/deployment#autoloader-optimization every framework, every best practices blog says same.

Seems wrong/odd having a "TestKernelTrait" in the production MicroKernel.

Note: only one tes

[2019-12-02 13:37] sacesare opened #116 "Gitlab zip dist download using token with "rearchive: false""
For repository "type:gitlab".
Satisfy is not working with "rearchive:false" option for "archive":
`In Filesystem.php line 286:

  [ErrorException]
  copy(/tmp/composer_archiver5de50e72b0140/archive.zip?sha=686b4b3598e5314db0a5757590f0282413e02b41): failed to open stream: No such file or directory

Exception trace:
  at /var/www/satisfy/vendor/composer/composer/src/Composer/Util/Filesystem.php:286

[2019-12-02 21:29] ramunasd commented on #116
It's not satisfy. Package download and archive is entirelly handled by satis. Looks like package dist url from gitlab contains hash and satis fails.
Can You register issue at https://github.com/composer/satis/issues with all required steps on how to reproduce it?

[2019-12-02 21:29] #116 closed

[2019-12-03 13:56] alexey-gavrilov-flant opened #117 "crashes when github.secret is missing"
[code]
version 3.2

[2019-12-03 14:09] #117 closed

[2020-01-09 14:11] sacesare opened #118 "Problem with gitlab webhook update url selection"
There's problem with code:
https://github.com/ludofleury/satisfy/blob/3db8abe3982416b0e777b6f7aa2198379025e39a/src/Playbloom/Satisfy/Webhook/GitlabWebhook.php#L59
If code detect self::BODY_HTTP_URL_KEY, it continue to look for self::BODY_SSH_URL_KEY , and set $url to null, in case of absence of latter.
Break in loop can help to mitigate issue-use first encountered, or can be fixed by using
somethi

[2020-01-23 17:19] bmiro opened #119 "Gitlab webhook BadRequestHttpException: "Invalid Token""
First of all, thanks for the the project! :)

To use it with many repositories I'm trying to configure the gitlab webhook with auto_add.

I'm using satisfy 3.2 and GitLab CE 12.6.4.

I've adjusted the `app/config/parameteres.yml` to look like this:

[code]
And also setled the same `gitlab.secret` at the Gitlab Webhook as `Secret Token`

![gitlab-wh](https://user-images.githubusercontent.com/398519

[2020-01-24 09:06] ramunasd commented on #119
Error occurrs here: https://github.com/ludofleury/satisfy/blob/master/src/Playbloom/Satisfy/Webhook/GitlabWebhook.php#L90
It means Your secret key is incorrect.

[2020-01-24 09:06] #119 closed

[2020-01-24 13:37] bmiro commented on #119
Thanks for de response. You where right, I've printed `$this->secret` and it had a old value.

I've forgot to clear the symfony cache which refreshed the configured token.

    php ./bin/console cache:clear --env=prod

Leaving this here as it can help to someone else.

[2020-02-20 06:32] renepardon opened #121 "./bin/satis keeps asking for credentials"
Hello,
i've just installed newest Satisfy version and changed the app/config/parameters.yml to include the Token of my satis user from Gitlab. But as soon as I run `./bin/satis build` the CLI is asking me to provide credentials for this user.
Maybe I'm on a wrong path but if an access token is not working this way, how can I provide it? The tool is asking for credentials for every repository I've

[2020-02-20 09:15] ramunasd commented on #121
You must configure composer auth not satisfy.
Not enough info/how to reproduce.

[2020-02-20 09:15] #121 closed

[2020-02-20 09:54] renepardon commented on #121
@ramunasd thank you for the hint. Placing an auth.json with the user credentials of the private repository (Gitlab) and using the command like this works:

`GIT_ASKPASS=echo ./bin/satis build`

[2020-03-05 23:10] nevinsm opened #122 "Satis name configuration constraints"
The `Playbloom\Satisfy\Form\Type\ConfigurationType` requires a Regex for the name in the satis.json file that doesn't allow names that are valid according to the [satis.json schema](https://raw.githubusercontent.com/composer/satis/1.0.0/res/satis-schema.json). According to the schema for the name property it only has to be a string.

[2020-03-05 23:11] nevinsm commented on #122
PR link https://github.com/ludofleury/satisfy/pull/123

[2020-03-06 07:02] #122 closed

[2020-03-08 09:42] #118 closed

[2020-03-13 07:39] #100 closed

[2020-03-16 20:32] ottnorml opened #126 "Admin page throws MissingConstructorArgumentsException if "repositories" array is available in satis.json"
## What you were trying to do

I used the docker setup provided with the repo and tried to open the admin page (/admin) after initializing the satis.json.

## What happened

I received an error 500 page with an exception message. This behavior is reproducible as long as the "repositories" array is available in satis.json. It makes no difference if the array contains data or not.

Exception message

[2020-03-19 14:41] ramunasd commented on #126
@ottnorml can You confirm this issue was fixed by #127 ?

[2020-03-27 15:11] Armenian commented on #126
when will be new version with this fix?

[2020-03-31 07:33] #126 closed

[2020-04-01 13:18] ThomasNegeli opened #130 "composer.lock partial upload"
Currently, if not all of the entries from the composer.lock have a `source` entry, the whole file is ignored.
If you work with private composer repositories this is a problem, because there we have mixed content. Some packages are from the private source, some are from github.com via packagist.org and some are from other repositories.
In this case it would help, if the entries with the missing `so

[2020-04-01 13:25] ThomasNegeli opened #131 "Edit repository functionality got broken in 3.2.* versions"
It is no longer possible to edit repositories after creating them. Seems that the framework update in the 3.2.* versions broke this functionality.

[2020-04-01 13:28] ThomasNegeli opened #132 "Functionality to update single repository"
What do you think about adding the update functionality for a single repository?
Satis has a parameter for a repository URL, but my tests for using this failed.
Did you try to get this working  already?

[2020-04-02 09:00] RoyVandenBroeck commented on #126
Since this fix went live I seem to be getting the errors as described above.

[2020-04-02 13:05] ThomasNegeli commented on #130
I just removed the line in the file from above.
Now the upload ignores the packages with the missing source identifier.
There is no warning shown, but this solves our problem currently.

[2020-04-02 14:19] ramunasd commented on #130
This is community based project and all contributions are welcome. I would like to review PR for this fix.

[2020-04-02 14:20] #130 closed

[2020-04-02 14:21] ramunasd commented on #132
This is community based project and all contributions are welcome. I would like to review PR.

[2020-04-02 14:21] #132 closed

[2020-04-09 19:51] ramunasd commented on #131
fixed in 3.2.4

[2020-04-09 19:51] #131 closed

[2020-04-14 08:32] mrsombre opened #135 "Error when edit configuration in UI"
[code]

With this satis.json archive section
[code]

Notice by default it is no "prefix-url" option for archive.

[2020-04-15 09:05] Armenian opened #136 "Webhooks not working, getting symfony error."
Service "Playbloom\Satisfy\Webhook\GitlabWebhook" not found: even though it exists in the app's container, the container inside "Playbloom\Satisfy\Controller\WebhookController" is a smaller service locator that only knows about the "form.factory", "http_kernel", "parameter_bag", "request_stack", "router", "security.authorization_checker", "security.csrf.token_manager", "security.token_storage", "s

[2020-04-16 20:31] #135 closed

[2020-04-16 20:41] #136 closed

[2020-04-25 02:32] clanofartisans opened #138 "Please ignore"
Please ignore

[2020-04-25 05:11] #138 closed

[2020-05-06 16:50] ludofleury commented on #97
Yeah totally cool feature

[2020-05-17 21:37] p418 opened #139 "[question] gitlab repository"
Hi!
First of all, thanks you for your work..

I managed to set up a working satisfy instance but at some point, I can't figure out how to use it.

When trying to add a new "gitlab" repository, what information do I need to provide ?
What the purpose of it and does it works with self-managed gitlab ?

within `parameters.yml`, I can see `gitlab.auto_add_repo` and `gitlab.auto_add_repo_type` paramete

[2020-05-29 07:42] ramunasd commented on #139
@p418 I would recommend to start reading from satis configuration [1]. You can edit `satis.json` manually and see how it looks in admin page.
All parameters are self-explanatory, You can keep default values if they are unclear to You.

[1] https://getcomposer.org/doc/articles/handling-private-packages-with-satis.md

[2020-05-29 07:42] #139 closed

[2020-06-12 10:48] wilfriedwolf opened #140 "Gitlab Webhook: Configure to use ssh repository rather than https"
Hi there,

I'm just about to upgrade my satisfy instance which we are now using perfectly for some years. By then, I wrote a gitlab webhook which still works, but I'd rather use yours, since it can create repositories - great feature.

My problem is, that we are using `git@gitlab.example.com:group/repo.git` for the repositories and not
`https://gitlab.example.com/group/repo.git`, which gets writte

[2020-06-14 08:21] ramunasd commented on #140
Just change ordering here https://github.com/ludofleury/satisfy/blob/master/src/Playbloom/Satisfy/Webhook/GitlabWebhook.php#L58 , write a test and submit PR. I would love to review it ;)

[2020-06-14 08:21] #140 closed

[2020-06-15 06:40] wilfriedwolf commented on #140
The orderings allready changes, and I am willing to write a test, but.. never done it before :( What framework do you use, could you just give me a hint, how to start?

[2020-06-15 15:07] ramunasd commented on #140
We use phpunit. There is plenty of tutorials on the web.

[2020-06-16 06:31] wilfriedwolf commented on #140
Thank, you I just asked my colleague, and he told me just that :)

--
Wilfried Wolf
Softwareentwicklung

Sandstein Neue Medien GmbH
Goetheallee 6 · Eingang Händelallee · 01309 Dresden
Tel. direkt +49 (0)351 44078-32 · Zentrale +49 (0)351 44078-40 · Fax
+49 (0)351 44078-12
wilfried.wolf@sandstein.de · https://www.sandstein.de/internetagentur

Folgen Sie uns per Facebook - Twitter - Instagram:
www.f

[2020-06-30 09:10] robrecord opened #142 "Add documentation for parameters.yml"
I'm having a headache setting this up because there is no documentation for the parameters config file.

I've worked out that I need to add users in the following format:

[code]

Could this file be documented?

I don't know what 'secret' does, and I'm not sure if my github secret works because I see no output on the build. (This could be another issue though).

[2020-06-30 09:23] robrecord opened #143 "Cloning private repos from GitHub gives error"
In my satis repository I have one package linked to private repository on GitHub.

When I run build from the administration web form, I get the following output:

[code]

I copied the URL given in line 4 of the output and generated a token.

I copied that token into my `parameters.yml` file next to `github.secret`
This didn't change anything.

When I run `./bin/satis build` it asks me for my githu

[2020-06-30 09:40] robrecord commented on #96
This link no longer works. Could we have documentation?
as per #142

[2020-06-30 10:03] robrecord commented on #143
### Solution

1. [Create token on GitHub](https://github.com/settings/tokens) with full private repo access (all within "repo" scope).
2. Copy token
3. On server, do:
[code]

Source:
https://github.com/composer/composer/issues/3542#issuecomment-67623002

It would be great to get this in the documentation.

[2020-07-14 14:59] sigismund opened #144 "IPs used in Bitbucket's webhook are absolete"
Public IP addresses used by Bitbucket can be viewed [here](https://ip-ranges.atlassian.com/).

This is based on this [blog post](https://bitbucket.org/blog/update-to-outgoing-webhook-ip-addresses).

[2020-07-29 16:46] #144 closed

[2020-08-03 20:16] ramunasd commented on #143
Satisfy is a wrapper for composer/satis. The latter must have access, otherwise satisfy will fail.
I would love to review PR with documentation improvements.

[2020-08-03 20:16] #143 closed

[2020-08-03 20:18] ramunasd commented on #142
Configuration example can be found here
https://github.com/ludofleury/satisfy/blob/master/config/config_testsecure.yml

[2020-08-03 20:18] #142 closed

[2020-09-03 23:06] nickychow opened #148 "You cannot guess the mime type as the Mime component is not installed. Try running "composer require symfony/mime"."
When I tried both 3.2.6 and master branches and experienced this error when it's showing the homepage.  I believe this is probably something to do with the Symfony upgrade.

I found a similar issue in the Symfony repo: https://github.com/symfony/symfony/issues/37709 . Hope this can help.

Cheers,

[2020-09-08 20:06] ramunasd commented on #148
fixed in v3.2.7

[2020-09-08 20:06] #148 closed

[2020-09-14 12:25] Gounlaf opened #149 "[Bug] Tag metadata not well supported"
Hi,

I have an issue with semver specs: build metadata (https://semver.org/#spec-item-10) are not well supported.

Step to reproduce :
- Create a tag like `v1.0.0+metadata-test-1`
- Make satisfy refresh repos ; you will have the tag correctly
- Create a tag like `v1.0.0+metadata-test-2`
- Make satisfy refresh repos ; you will have `v1.0.0+metadata-test-1` but not `v1.0.0+metadata-test-2`
- Delete

[2020-09-14 17:57] ramunasd commented on #149
This application does nothing during "refresh", basically it's a `satis build` with all required options.
Please open issue there.

[2020-09-14 17:57] #149 closed

[2020-12-03 15:31] rebruCH opened #150 "More information about the webhook"
Is there any more information about the webhook implementation and the on-premise gitlab?

[2020-12-03 16:30] ramunasd commented on #150
Hello @rebruCH  thanks for a question. At first - it's a community based project.
It would be helpful if You could provider more details about Your problem/question/issue. Perhaps it's very obvious question for You, but that's not the case for other users&developers. So, please give more context about the problem at first.

Cheers.

[2020-12-03 16:30] #150 closed

[2021-03-18 18:59] neoighodaro opened #151 "New install does not work"
On composer install:

[code]

[2021-03-22 22:18] ramunasd commented on #151
Latest version requires dev-master#6d4e87b5bdce688d932b7fe696f54b34c70a8ffe
What version do You use? Are You trying to upgrade dependencies?

[2021-03-23 07:11] neoighodaro commented on #151
I don't know but `dev-master` should not exist anymore as the repo changed the `master` repo to `main`

[2021-03-23 09:21] ramunasd commented on #151
You don't know? huh :) Then please describe steps how to reproduce this exception.

I tried with different branch names and it works. In the end it's just branch name, most important part is commit hash, which can belong to many branches 🤷

[2021-03-23 09:23] neoighodaro commented on #151
Alright, I should close the issue. I just know I used the readme at the time which was `dev-master#4ffdaed2aaaf3daf1e4ce1b422d968f8cdc756f9`.

I actually moved on to a custom way to handle it. Closing, but thanks for the response.

[2021-03-23 09:23] #151 closed

[2021-04-22 11:32] dshiryaev-plesk opened #152 "'Service "Playbloom\Satisfy\Service\LockProcessor" not found' error when trying to upload composer.lock file"
## STR
1. Open /admin page
2. Press 'Add all repositories from a composer.lock' button
3. Upload a composer.lock file

## Actual result
The page shows the following error:

## Expected result
Satisfy adds all composer repositories from uploaded composer.lock file then shows them at /admin page

## Checked Satisfy versions that has this issue
- 3.2.4
- 3.2.8
- 3.3.0

[2021-06-17 09:22] chq81 opened #157 "Is the Bitbucket webhook is also working for Bitbucket on premise?"
Just wanted to know that as I guess a secret is needed for that.

[2021-06-17 14:23] ramunasd commented on #157
Just try it and let us know ;)
Not an issues unlues You find something wrong. Closing...

[2021-06-17 14:23] #157 closed

[2021-06-21 14:53] Morgy93 opened #158 "GitLab rebuild webhook not working"
Hello,

I updated to the latest 3.3.0 but unfortunately the GitLab webhook does not work anymore.
If packages are not present I get 503 and if they are present I get 200, so it "seems" to work, but the package is not updated.

The `$event->getStatus();` for the `BuildEvent` webhook only returns `0`, but that's all I could figure out here.

The error log only shows:
[code]

Maybe someone could poin

[2021-06-21 18:04] ramunasd commented on #158
`SatisBuildRunner` is responsible for triggering a build. I see line `Successfully acquired the "build" lock.` It means that the build was really triggered. So very likely issue is in You configuration.

[2021-06-23 20:52] Morgy93 commented on #158
Awesome, that really helped!
The "whatever currently runs the symfony process" has no access to the repository.

Big thanks, great tool and support!

[2021-06-23 20:52] #158 closed

[2021-06-30 12:57] cpieroni-macron opened #159 "Add section "minimum-stability-per-package""
The Satis.json schema has a "minimum-stability-per-package" field:
https://github.com/composer/satis/blob/main/res/satis-schema.json

This is useful for specifying a different minimum stability only for a target package.

This field is not implemented in the Satisfy GUI and is obviously deleted in the satis.json when the configuration is submitted.
Could you add this feature?

Thank you

[2021-10-05 09:21] ramunasd commented on #152
fixed

[2021-10-05 09:21] #152 closed

[2021-12-06 13:40] Baldinof opened #168 "Configurable logger"
Hi!

Would you accept a pull request that adds monolog to be able to log in JSON?

[2021-12-06 17:53] ramunasd commented on #168
Are You trying to get promise? Nobody can give it to You. Everything depends on how good and relevant a PR is.

[2021-12-06 17:53] #168 closed

[2022-06-14 07:44] Oreolek opened #171 "(Request) Add an abandoned checkbox"
Satis lets you mark a package as abandoned in satis.json even if it doesn't have the mark on Github. Satisfy doesn't recognize these marks, can't edit them and will clear them from satis.json if you press the build button.

[2022-07-14 05:30] ihor-sviziev opened #173 "GitHub Webhook URL returns 400 error when APP_DEBUG is 0"
Hi,

I noticed that Satisfy returns a 400 error when APP_MODE=prod and APP_DEBUG=0. When switching APP_DEBUG to 1 - it works fine.
I don't see any logs, so it's hard to understand why it happened.
Any thoughts?

[2022-10-25 16:27] ihor-sviziev opened #175 "Build packages button stopped to work"
Today started failing the "build packages" button.
It shows the following error:
[code]

I already re-generated the token and updated it in `/path/to/satisfy/var/composer/auth.json`, but so far, no changes.
Any thoughts?

[2022-10-25 20:04] ramunasd commented on #175
very likely satis/compose home is another dir, please check twice
`/path/to/satisfy/var/composer/auth.json` looks a bit weird, is this a real path?

[2022-10-25 20:20] ihor-sviziev commented on #175
I checked it few times. It worked yesterday and during last few months and now it just stopped working

[2022-10-26 07:06] ramunasd commented on #175
There is nothing we can do. Composer/github explains what is wrong and gives You all the intructions. We didn't change anything recently.

[2022-10-26 07:06] #175 closed

[2022-10-26 07:08] ihor-sviziev commented on #175
Just want to clarify, does it work for you now for private repositories and
that’s the only issue on my side, right?

On Wed, 26 Oct 2022 at 10:06 Ramūnas Dronga ***@***.***>
wrote:

[2022-10-26 09:41] ihor-sviziev commented on #175
Just checked - the issue is gone w/o doing any changes. Looks like that was some Github issue.